@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  visibility: hidden !important;
  background: rgba(22, 24, 35, 0.06);
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  overflow-y: auto;
  /* perspective-origin: right; */
}
